<div class="container my-5">
  <h1 class="mb-3">les demandes à traiter</h1>

<div class="table-responsive">
<table datatable class="table datatable" [dtOptions]="dtoption" [dtTrigger]="dtrigger" *ngIf="demandes && demandes.length >0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Matricule</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let demande of demandes">

      <td>{{ demande.demande_id}}</td>

<!-- </tr>

        <tr *ngFor="let employee of employee">
        <td>{{ employee.matricule}}</td>
        <td>{{ employee.nom}}</td>
        <td>{{ employee.prenom}}</td> -->
        <td class="text-center">
        <div class="btn-group-sm btn-group" role="group">
          <button class="btn-delete btn btn-primary" (click)="Traiter()">Traiter</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="!demandes || demandes.length <= 0">Aucune demande trouvée</p>
</div>
