<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/theme/22222.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Bienvenue</h1>
        <p class="text-white mt-0 mb-2">Voici votre page de profil. Vous pouvez remplir ce formulaire et gérer vos renseignements et votre profil</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/theme/11111.PNG" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between"></div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5"></div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Nom:<span class="font-weight-light"> {{nomemployer}}</span>
            </h3>
            <h3>
              Prénom:<span class="font-weight-light"> {{prenomemployer}}</span>
            </h3>
            <h3>
              Matricule:<span class="font-weight-light"> {{matricule}}</span>
            </h3>
            <h3>
              Matricule responsable:<span class="font-weight-light"> {{matricule_resp}}</span>
            </h3>
            <h3>
              Email:<span class="font-weight-light"> {{email}}</span>
            </h3>
            <h3>
              compte Windows:<span class="font-weight-light"> {{compte_winds}}</span>
            </h3>

            <!--<div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
            <a href="javascript:void(0)">Show more</a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon profil</h3>
            </div>

          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="Mygroup">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="nom">Nom</label>
                    <input type="text" id="nom" class="form-control form-control-alternative" placeholder="Nom"
                    name="nom" formControlName="nom">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="prenom">Prenom</label>
                    <input type="text" id="prenom" class="form-control form-control-alternative" placeholder="Prenom"
                    name="prenom" formControlName="prenom">
                  </div>
                </div>
              </div>
              <hr class="my-4" />
            <!-- Diplome -->
            <!-- Description -->
            <!--<h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div>-->
          </form>
          <div class="row mb-2">
            <div class="col-sm-12">
                <div class="text-sm-end">
                  <button type="button"  class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="fas fa-graduation-cap"></i> Diplôme
                  </button>
                  <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModalcertificat">
                    <i class="fas fa-award"></i> Certification
                  </button>
                  <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModalTechnologie">
                    <i class="fas fa-atom"></i> Technologie
                  </button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalExperience">
                    <i class="fas fa-briefcase"></i> Experience
                  </button>
                </div>
            </div><!-- end col-->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nouveau Diplôme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="myDiplomeForm" >
      <div class="modal-body">
       <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="nomdiplome" class="form-label"><a class="text-dark">Nom Diplome</a></label>
          </div>
          <input type="text" class="form-control" formControlName="nom_diplome" >
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="lieudiplome" class="form-label"><a class="text-dark">Lieu Diplome</a></label>
          </div>
          <input type="text" class="form-control" formControlName="lieu_diplome" >
        </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="addDiplome()">Save </button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalcertificat" tabindex="-1" role="dialog" aria-labelledby="exampleModalcertificatTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nouveau Certificat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="myCertifForm" >
      <div class="modal-body">
       <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="nomcertif" class="form-label"><a class="text-dark">Nom Certif</a></label>
          </div>
          <input type="text" class="form-control" formControlName="nom_certif" >
        </div>

       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="addCertif()">Save </button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalTechnologie" tabindex="-1" role="dialog" aria-labelledby="exampleModalTechnologieTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle Technologie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="myTechnoForm" >
      <div class="modal-body">
       <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="nomtechno" class="form-label"><a class="text-dark">Nom Technologie</a></label>
          </div>
          <input type="text" class="form-control" formControlName="nom_techno" >
        </div>

       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="addTechnologie()">Save </button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalExperience" tabindex="-1" role="dialog" aria-labelledby="exampleModalExperienceTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="myExperienceForm" >
      <div class="modal-body">
       <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="poste" class="form-label"><a class="text-dark">Poste</a></label>
          </div>
          <input type="text" class="form-control" formControlName="poste" >
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="entreprise" class="form-label"><a class="text-dark">Entreprise</a></label>
          </div>
          <input type="text" class="form-control" formControlName="entreprise" >
        </div>
       </div>
       <hr class="my-4" />
       <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="date_debut" class="form-label"><a class="text-dark">Date Debut</a></label>
          </div>
          <input type="date" class="form-control" formControlName="date_debut" >
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="date_fin" class="form-label"><a class="text-dark">Date Fin</a></label>
          </div>
          <input type="date" class="form-control" formControlName="date_fin" >
        </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="addExperience()">Save </button>
      </div>
    </form>
    </div>
  </div>
</div>
<!--<div class="container">
<div class="text">
<form class="user">
     <div class="form-group">
       <label for="exampleFormControlInput1">Nom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
     </div>
     <div class="form-group">
        <label for="exampleFormControlInput1">Prenom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
     </div>
      <h1 class="h4 text-gray-900 mb-4">Diplome :</h1>
     <div class="form-group">
        <label for="exampleFormControlInput1">Nom_diplome</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Lieu_diplome</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
      <h2 class="h4 text-gray-900 mb-4">Experience :</h2>
    <div class="form-group">
        <label for="exampleFormControlInput1">Poste</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Date_début</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Date_fin</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Entreprise</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
       <h3 class="h4 text-gray-900 mb-4">Certification :</h3>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nom-certif</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
       <h4 class="h4 text-gray-900 mb-4">Technologie :</h4>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nom_technologie</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>

    <a href="#" class="btn btn-primary btn-user btn-block">
      Creer
    </a>

  </form>
</div>-->
